@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
.maintxt {
  font-family: "Cairo", sans-serif;
}
*::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}
.company_text {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.divClass {
  word-break: break-all;
  /* or for more modern CSS */
  overflow-wrap: anywhere;
}

.pdf-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Example for an aspect ratio of 1:1.4142 (A4) */
}
.pdf-container2 {
  position: relative;
  width: 100%;
  padding-top: 50%; /* Example for an aspect ratio of 1:1.4142 (A4) */
}

.pdf-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pdf-container2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rdp-caption_dropdowns {
  display: flex;
  gap: 6px;
  outline: none;
}
.active {
  background-color: #4786fa;
  color: #ffffff !important;
}

.header.active{
  border-bottom:1px solid #4786fa;
}